body{
    height: 100%;
}
  

/* TERMEKEK */

.sec{
    padding: 10px 5%;
}

.products{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.products .card{
    width: 310px;
    background: black;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.664);
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 20px;
}

.products .card img{
    height: 250px;
    width: 100%;
}

.products .card .desc{
    color: white;
    padding: 5px 20px;
    opacity: 0.8;
}

.products .card .title{
    font-weight: 900;
    font-size: 20px;
    color: white;
    padding: 0 20px;
}

.products .card .box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.products .card .box .price{
    color: red;
    font-size: 20px;
    font-weight: bold;
}

.products .card .box .btn{
    font-size: 13px;
    color: black;
    padding: 10px 18px;
    font-weight: 900;
    border: 1px solid red;
    border-radius: 20px;
}

.products .card .box .btn:hover{
    cursor: pointer;
    background-color: red;
    color: white;
}

.products .card .box .original_price{
    font-weight: bold;
    color: gray;
    text-decoration: line-through;
    font-size: 15px;
}

.on_salebackground{
    background-color: rgb(90, 89, 89);
}
/* TERMEKEK VEGE */

/* SIDENAV */

.sidebar {
    box-shadow: 0 0 14px rgba(3, 3, 3, 0.89);
    width: 180px;
    z-index: 1;
    left: 0;
    background-color: black;
    padding-top: 16px;
  }
  
  .sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .main {
    margin-left: 160px;
    padding: 0px 10px;
  }

.sidebar h3{
    color: red;
    text-align: center;
}

label{
    display: block;
    text-align: center;
    color: white;
}

select{
    margin: 2px;
    padding: 2px;
    display: block;
    margin: 0 auto;
}


  /* SIDENAVEND */

 .alert{
    text-align: center;
    font-size: xx-large;
 }