body{
    width: 100%;
}

h1{
    padding: 15px;
    text-align: center;
}

h3, h2{
    text-align: center;
}

hr{
    margin: 15px;
}

/* PRODUCT(S) */
.products{
    margin-left: 10px;
    margin-right: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.products .card{
    width: 310px;
    background: black;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.664);
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 20px;
}

.products .card img{
    height: 250px;
    width: 100%;
}

.products .card .desc{
    color: white;
    padding: 5px 20px;
    opacity: 0.8;
}

.products .card .title{
    font-weight: 900;
    font-size: 20px;
    color: white;
    padding: 0 20px;
}

.products .card .box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.products .card .box .price{
    color: red;
    font-size: 20px;
    font-weight: bold;
}

.products .card .box .btn{
    font-size: 13px;
    color: red;
    padding: 10px 18px;
    font-weight: 900;
    border: 1px solid red;
    border-radius: 20px;
}

.products .card .box .btn:hover{
    cursor: pointer;
    background-color: red;
    color: white;
}

/* PRODUCT(S) */

/* Pay Start */
.pay{
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
}
.pay .cardpay, .cashpay{
    width: 310px;
    color: white;
    background: black;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.664);
    border-radius: 20px;
    padding: 5px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.pay main .insights li .info h3{
    font-size: 24px;
    font-weight: 600;
    color: black;
}

.pay p, form, h4{
    margin: 5px;
}

.pay i{
    display: block;
    padding-top: 35px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 25px;
    float: left;
}

.pay h4{
    padding-right: 4px;
}

.cardpay:hover , .cashpay:hover{
    box-shadow: none;
    cursor: pointer;
}

/* Pay End */

/* USERDATA START */

.userdata{
    width: 80%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 80%;
    background: black;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.664);
    border-radius: 20px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: hidden;
}

.user-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.row {
    display: flex;
    width: 100%;
}

.user-container input {
    flex: 1;
    margin: 8px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    color: black;
}

.user-container textarea {
    flex: 1;
    margin: 8px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    box-sizing: border-box;
    color: black;
    height: 100px;
}

::placeholder{
    color: black;
}

/* USERDATA END*/
/* STARTORDER START */

.startorder{
    text-align: center;
    padding: 20px;
}

.startorder input{
    width: 30%;
    font-size: 13px;
    color: red;
    padding: 10px 18px;
    font-weight: 900;
    border: 1px solid red;
    border-radius: 20px;
}

.startorder input:hover{
    cursor: pointer;
    color: black;
    background-color: red;
}

/* STARTORDER END */