.functions{
    display: block;
    margin: 5px;
    margin-top: 10px;
}


.add-btn{
    padding: 10px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: rgba(0, 238, 255, 0.856);
    cursor: pointer;

}

.add-btn:hover{
    background-color: rgba(2, 179, 192, 0.856);
}

.addbtns{
    float: left;
}

.removebtns{
    float: inline-end;
}

.remove-btn{
    padding: 10px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: rgb(230, 0, 0);
    cursor: pointer;
}

.remove-btn:hover{
    background-color: rgb(197, 1, 1);
}

.modalSelect{
    text-align: center;
    width: 50%;
    padding: 5px;
}

.modal-content form{
    text-align: center;
}


.add-money h2{
    text-align: center;
}

.add-money form{
    padding: 15px;
    width: 100%;
}

.add-money input{
    width: 100%;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}
.add-money select{
    width: auto;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}
