table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid black;
    text-align: center;
    padding: 8px;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.212);
}

.adatok{
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
}

.functions{
    
    display: block;
    margin: 5px;
    margin-top: 10px;
}

.functions form{
    float: left;
}

.add-btn{
    padding: 10px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: rgba(0, 238, 255, 0.856);
    cursor: pointer;

}

.add-btn:hover{
    background-color: rgba(2, 179, 192, 0.856);
}

.remove-btn{
    padding: 10px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: rgb(230, 0, 0);
    cursor: pointer;
}

.remove-btn:hover{
    background-color: rgb(197, 1, 1);
}