.add-customer, .add-money{
    margin: auto;
    width: 25%;
    padding: 20px;
}

.add-customer h2{
    text-align: center;
}

.add-customer form{
    padding: 15px;
    width: 90%;
}

.add-customer input{
    width: 100%;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}



