:root{
    --balck: #262322;
    --orange: #D17A22;
    --white: #F1FAEE;
    --dcgray: #424549;
    --dcdarkgray: #36393e;
}


*{
    font-family: "Fira Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: var(--white) !important;
}

body{
    background-color: var(--balck);
}

.bg-orange{
    background-color: var(--orange);
    color: var(--white);
}

.navbar, .dropdown-menu-dark{
    background-color: var(--orange);
}

.nav-link, .dropdown-item{
    color: var(--balck) !important;
}

img{
    width: 350px;
}

.dc{
    background-color: var(--dcdarkgray);
}

.card img{
    border-radius: 15px;
    padding: 5px;
}

.asd{
    border: solid 2px red;
}

.csati{
    text-decoration: none;
}

footer{
    background-color: rgba(0, 0, 0, 0.5);
}
.foot-nav{
    color: white !important;
}

.btn-end{
    float: inline-end;
}

input, textarea{
    color: black !important;
}