.post{
    margin-top: 50px;
    border: 1px solid var(--black);
}
.post .name{
    text-align: center;
}

.post img{
    display: block;
    width: 300px;
    border-radius: 15px;
}

button{
    border: 1px solid var(--black);
    border-radius: 15px;
    padding: 5px;
    background-color: var(--red);
}

button:hover{
    background-color: var(--darkred);
    color: white;
}