.create-container {
    display: block;
    width: 50%;
    background-color: var(--black);
    padding: 20px;
    border-radius: 10px;
    box-shadow: var(--shadow);
    text-align: center;
    margin: auto;
}

h2{
    color: var(--red);
}

label{
    text-align: left;
    color: var(--red);
    display: block;
    margin: 5px;
}


input {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
}

input[type=submit] {
    width: 40%;
    padding: 10px;
    background-color: var(--red);
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

input[type=submit]:hover {
    background-color: var(--darkred);
}

input[type=file]{
    color: white;
}

.inputfile::-webkit-file-upload-button {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	visibility: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile::before {
    content: 'Kép feltöltése';
    color: white;
    display: inline-block;
    background-color: var(--red); 
    border-radius: 20px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    font-weight: 400;
    margin-right: 10px;
}
.inputfile:hover::before {
    border-color: black;
}
.inputfile:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}